<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    
    <div id="messagecontainer">
        <ul id="messages"></ul>
    </div>
    <form action="">
        <input id="newmsg" autocomplete="off" /><button>Send</button>
    </form>

    <% include partials/footer.ejs %>

</body>
</html>